@font-face {
  font-family: 'Epilogue';
  src: url(../assets/fonts/Epilogue-Bold.ttf);
  font-weight: 'normal';
}

@font-face {
  font-family: 'Epilogue-light';
  src: url(../assets/fonts/Epilogue-Light.ttf);
  font-weight: 'normal';
}

@font-face {
  font-family: 'Epilogue-Medium';
  src: url(../assets/fonts/Epilogue-Medium.ttf);
  font-weight: 'normal';
}
@font-face {
  font-family: 'Epilogue-regural';
  src: url(../assets/fonts/Epilogue-Regular.ttf);
  font-weight: 'normal';
}

h1 {
  font-family: 'Epilogue';
}
h2 {
  font-family: 'Epilogue-regural';
}
h3 {
  font-family: 'Epilogue-regural';
}

.saving_container {
  background-image: linear-gradient(
    to bottom,
    rgba(26, 26, 27, 0),
    rgb(14, 11, 11)
  );
  background-color: #000000;
}
.saving {
  color: #e75553;
  font-size: 8rem;
  margin-left: 10%;
  font-style: normal;
  width: 25%;
  padding: 12% 0;
}
.main_design {
  background-color: #000000;
  overflow: hidden;
}
table {
  border-collapse: collapse;
  width: 45%;
  margin: 10% auto;
  font-size: 2rem;
  color: aliceblue;
}
table th {
  border: 2px solid #e75553;
  color: #e75553;
}

.Logo_design {
  background-color: #e75553;
}
.animation {
  display: flex;
  margin: auto auto;
  width: 80%;
  justify-content: center;
}
.rudo_design {
  align-items: center;
  justify-content: center;
  padding: auto auto;
  width: 50%;
  animation: changes 5s ease infinite;
}
.rudowealth_design {
  align-items: center;
  justify-content: center;
  padding: auto auto;
  width: 50%;
  flex-wrap: wrap;
  animation: animate 5s ease infinite;
}
.rudo_branding {
  width: 70%;
  align-items: center;
  margin-left: 14%;
  margin-top: 15%;
  justify-content: center;
  margin-bottom: 15%;
}
.rudo_branding_two {
  width: 70%;
  align-items: center;
  margin-left: 14%;
  margin-top: 50%;
  justify-content: center;
}
@keyframes changes {
  0% {
    background-color: aliceblue;
  }
  100% {
    background-color: #e75553;
  }
}
@keyframes animate {
  0% {
    background-color: #e75553;
  }
  100% {
    background-color: #1c1c1c;
  }
}
.typo_design {
  display: flex;
  background-color: gray;
  color: aliceblue;
  max-width: 80%;
  margin: auto;
}

.typo_img_wrapper {
  width: 70%;
  margin-top: 30%;
  margin-left: 10%;
}
.type_para {
  width: 50%;
  align-items: center;
  margin: 10%;
}
.type_para h5 {
  font-size: 30px;
}
.circle_container {
  display: flex;
  margin: auto auto;
  width: 80%;
}
.epilogue {
  color: black;
  padding: 15% 7%;
  background-color: bisque;
  width: 50%;
  font-size: 60px;
}
.background_color {
  background-color: #e75553;
  position: relative;
  width: 50%;
}
.logo_container {
  position: absolute;
  top: 33%;
  left: 40%;
  width: 20%;
  align-items: center;
}
.circle {
  width: 60%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20%;
  top: 11%;
  animation: mylogo 10s infinite linear;
}
.circle #round {
  fill: #000000 !important;
}
@keyframes mylogo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.b {
  border: 2px solid red;
}
.color {
  color: aliceblue;
  margin-left: 10%;
  line-height: 11rem;
}
.color h1 {
  font-size: 170px;
}
.multicolor {
  margin-top: 10%;
}
.rudo_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10% 0;
}
.webdesign {
  color: aliceblue;
  width: 85%;
  margin: auto auto;
  text-align: center;
  line-height: 7rem;
}
.webdesign strong {
  font-size: 90px;
}
.star {
  display: flex;
}
.star_text {
  color: aliceblue;
  width: 40%;
  align-items: center;
  float: left;
  margin-left: 10%;
  margin: 10% 5%;
  word-spacing: 1.3rem;
}
.star_img {
  width: 40%;
  float: right;
  margin-left: 10%;
}
.Ui_design {
  background-color: #e75553;
  margin: auto;
  height: 100vh;
}
.text_color {
  color: aliceblue;
  width: 130%;
  margin-left: -11%;
  overflow: hidden;
  font-size: 64px;
}
.RUDO_TEXT {
  font-size: 64px;
}
.Vedio_container {
  margin-top: 10%;
}
.Financial_wrapper {
  display: flex;
}
.blue_container {
  background-color: #1c96a0;
  padding: 5% 8%;
  width: 50%;
}
.know_container {
  color: aliceblue;
  padding: auto auto;
  text-decoration: underline;
  font-size: 45px;
  line-height: 4rem;
}
.know_text {
  font-size: 45px;
  line-height: 4rem;
}
.red_container {
  background-color: #e75553;
  padding: 5% 10%;
}
.problem {
  margin: 12%;
  line-height: 2rem;
}
.problem h5 {
  color: aliceblue;
  font-size: 20px;
}
.instruction_container {
  padding-top: 15%;
}
.dots {
  width: 40px;
  height: 40px;
  background-color: #e75553;
  color: aliceblue;
  border-radius: 50%;
  padding-top: 11px;
  text-align: center;
  margin: auto;
}
.onboarding_wrapper {
  margin: auto auto;
  justify-content: center;
  padding: 10% 5%;
  text-align: center;
}
.onboarding_wrapper h3 {
  color: #1c96a0;
}
.onboarding_wrapper h5 {
  color: aliceblue;
  width: 30%;
  margin: auto auto;
  padding: 40px 0;
}
.Financial_wrapper h3 {
  color: #1c96a0;
  text-align: center;
}
.instruction_wrapper h5 {
  color: aliceblue;
  margin: auto auto;
  text-align: center;
  width: 40%;
}
.instruction_wrapper {
  width: 65%;
}
.questionnaire {
  width: 112%;
  margin-left: -5%;
}
.mobileresponsive {
  width: 70%;
  background-color: #1c96a0;
  border-radius: 35px;
  margin: 15% auto;
  display: flex;
  position: relative;
  margin-top: 15%;
}
.mobile_text {
  padding: 10% 5%;
  width: 45%;
}
.mobile {
  position: absolute;
  right: 0%;
  bottom: 5%;
}
.mobile_img {
  width: 70%;
}
.forms_container {
  background-color: #e75553;
  padding: 10% 0;
}
.forms_wrapper {
  display: flex;
  justify-content: space-around;
}
.forms_wrapper h4 {
  text-align: center;
  margin-top: 5%;
  font-size: 30px;
}
.bag_container {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-around;
}
.thanks_container {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  margin: 15% auto;
}
.thanks_container h2 {
  color: aliceblue;
  line-height: 8rem;
  margin-top: 4%;
}

@media only screen and (max-width: 1100px) {
  .epilogue {
    font-size: 2rem;
  }
  .forms_wrapper {
    flex-direction: column;
  }
  .typo_design {
    flex-direction: column;
  }
  .type_para {
    width: 100%;
  }
  .color img {
    width: 70%;
    margin: 0%;
  }
  .illustration {
    font-size: 50px !important;
  }
  .color {
    line-height: 6rem;
  }
  .epilogue h2 {
    font-size: 20px !important;
  }
  .webdesign strong {
    font-size: 30px !important;
  }
  .webdesign h2 {
    font-size: 30px !important;
  }
  .webdesign {
    line-height: 4.4rem;
  }
  table {
    width: 70%;
  }
  .star_text strong {
    font-size: 30px !important;
  }
  .star_text h2 {
    font-size: 30px !important;
  }
  .star_text {
    line-height: 4.4rem;
    width: 100%;
  }
  .star_img {
    display: none;
  }
  .type_para h5 {
    font-size: 18px !important;
    line-height: 2.4rem;
    width: 85%;
  }
  .text_color {
    display: none;
  }
}
