.main_container {
  background-color: #e3334a;
}
.shopx_wrapper {
  width: 80%;
  margin: auto;
  padding-top: 5rem;
}
.shopx_logo {
  width: 45%;
  height: 40%;
  margin-top: 10%;
  margin-left: 5%;
}
.shopx_text {
  padding-top: 3rem;
  width: 30%;
  margin-left: 5%;
  color: #ffffff;
}

.barcode_wrapper {
  background-color: #fdb913;
  border-radius: 50%;
  width: 600px;
  height: 600px;
  margin: auto auto;
}
.shopx_barcode {
  width: 100%;
  margin: 50px 0;
}
.cards_container {
  background-color: #fff5f6;
}
.heading_wrapper {
  padding: 5% 15%;
}
.heading_text {
  width: 40%;
  color: #ffffff;
}
.heading_img {
  width: 25%;
}
.research_wrapper {
  display: flex;
  width: 60%;
  margin: auto;
  color: #ffffff;
}
.research_para {
  width: 65%;
  flex-wrap: wrap;
}
.strategy_wrapper {
  margin: auto;
  width: 90%;
  padding: 10%;
}
.reward_wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.reward_img_wrapper {
  width: 40%;
  float: left;
  height: 60%;
}
.reward-img {
  width: 100%;
  height: 40%;
  margin-top: 15%;
}
.rewards_right {
  width: 45%;
  height: 30%;
  margin-top: 10%;
  padding-left: 4rem;
}
.rewardsecond_left {
  width: 60%;
  height: 30%;
  margin: 5% 0;
  text-align: right;
  padding: 0 10rem;
}

.rewardSecondimg_wrapper {
  width: 35%;
  height: fit-content;
  margin-bottom: 10%;
}
.expertation_wrapper {
  width: 40%;
  margin: auto auto;
  padding: 3rem;
  color: #ffffff;
}
.chart_wrapper {
  max-width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.text_wrapper {
  width: 38%;
}
.research_wrapper_black {
  display: flex;
  width: 60%;
  margin: auto auto;
}
.research_para_black {
  width: 65%;
}
span {
  color: #fdb913;
}
.background_grid {
  background-color: #e3334a;
  width: 80%;
  margin: auto;
  border-radius: 2rem;
  margin-top: -10%;
}
.grid_wrapper {
  text-align: center;
}

.background_container {
  width: 100%;
}
.circle_wrapper {
  position: relative;
}
.circle_red {
  position: absolute;
  bottom: 75%;
  left: 5%;
}
.circle_yellow {
  position: absolute;
  top: 77%;
  right: 5%;
}
.para_wrapper {
  text-align: center;
  margin-top: 4rem;
}
.concept_wrapper {
  padding-top: 5rem;
  font-size: 9rem;
}
.concept_img {
  margin-top: -4rem;
}
.cong_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.concept_first {
  width: 20%;
  margin-top: 10%;
}
.concept_second {
  width: 20%;
  margin-left: 10rem;
  margin-top: 20%;
}
.concept_third {
  width: 22%;
  padding: 3rem;
}
.american_women {
  background-image: url(../assets/shopXappAssets/american.png);
  background-size: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 10%;
}
.circle_yellow_second {
  position: relative;
  top: 65%;
  left: 5%;
}
.circle_red_second {
  position: absolute;
  bottom: 85%;
  right: 5%;
}
.scanner_wrapper {
  display: flex;
  margin-top: 10%;
  width: 110%;
  justify-content: center;
  margin-left: 2rem;
  gap: 2rem;
}
.scanner_container {
  overflow: hidden;
}
.concept_fourth {
  margin: auto;
}
.spinning_wrapper {
  display: flex;
  margin-top: 4rem;
  margin-left: 5rem;
  gap: 2rem;
}
.spinning_para {
  width: 35%;
  margin-top: 30%;
  margin-left: 10%;
}
.indian_women {
  background-image: url(../assets/shopXappAssets/indianwomen.png);
  background-size: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 15%;
}
.yellow_indian_women {
  position: absolute;
  bottom: 85%;
  right: 5%;
}
.red_indian_women {
  position: relative;
  top: 60%;
  left: 5%;
}
.scanner_wrapper_left {
  display: flex;
  margin-left: -7%;
}
.concept_fivth {
  margin-right: 4rem;
}
.store_container {
  background-image: url(../assets/shopXappAssets/store.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  margin-top: 10%;
  height: 80vh;
  width: 100%;
}
.colorcode {
  justify-content: center;
  margin: 10% auto;
  display: block;
  width: 80%;
}
.circle_red_fourth {
  position: absolute;
  top: 50%;
  right: 5%;
}
.newgrocery_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.applicationchart {
  justify-content: center;
  margin: 5% 10%;
  width: 80%;
}
.shopxhand {
  background-color: #241a1b;
}
.supersaver {
  background-color: #e3334a;
}
.text_super {
  font-size: 4rem;
  text-align: center;
  color: #fff5f6;
  margin: auto;
  padding: 8rem 0;
  width: 30%;
}
.grid {
  display: block;
}
.multidevice {
  background-color: #241a1b;
  position: relative;
}
.multidevice_wrapper {
  padding-top: 10%;
}
strong {
  color: #e3334a;
  font-size: 2.7rem;
}
.screens {
  color: #ffffff;
  font-size: 2.7rem;
}
.text_screen {
  display: flex;
  position: absolute;
  padding-top: 11%;
  padding-left: 17%;
  gap: 13%;
}
.text_days {
  position: absolute;
  padding-top: 19%;
  padding-left: 17%;
}
.thank_wrapper {
  background-image: url(../assets/shopXappAssets/thnks.svg);
  text-align: center;
  width: 100%;
  color: #fff5f6;
  position: relative;
  padding-top: 30%;
}
.coffeecard {
  position: absolute;
  bottom: 20%;
  right: 80%;
}
.coin {
  position: absolute;
  top: 0;
  right: 68%;
}
.brand {
  position: absolute;
  top: 0;
  left: 68%;
}
.coin_two {
  position: absolute;
  bottom: 10%;
  right: 0;
}
.Thank_mobile {
  display: none;
}
.newgrocery {
  width: 90%;
  padding: 10% auto;
}
@media only screen and (max-width: 1100px) {
  .shopx_text {
    width: 100%;
  }
  .colorcode {
    width: 80vw;
  }
  .heading_wrapper {
    padding: 15px;
  }
  .heading_text {
    width: 100%;
  }
  .concept_img {
    width: 90%;
  }
  .concept_first {
    width: 70%;
  }
  .concept_second {
    width: 70%;
    margin: auto auto;
  }
  .concept_third {
    width: 84%;
    margin: auto auto;
  }
  .barcode_wrapper {
    margin: 0%;
  }
  .circle_red {
    display: none;
  }
  .circle_yellow {
    display: none;
  }
  .circle_yellow_second {
    width: 15%;
    top: 65%;
  }
  .circle_red_second {
    width: 15%;
    bottom: 75%;
  }
  .research_wrapper {
    width: 80%;
    flex-direction: column;
    margin: auto;
  }
  .research_para {
    width: 100%;
    margin-top: 5%;
  }
  .research {
    width: 100%;
  }
  .reward_wrapper {
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .thank_wrapper {
    display: none;
  }
  .rewards_right {
    width: 100%;
    margin: 0%;
  }
  .rewardsecond_left {
    width: 100%;
    margin-top: 10%;
    padding: 0%;
  }
  .expertation_wrapper {
    width: 90%;
    margin: auto;
  }
  .barcode_wrapper {
    width: 200px;
    height: 200px;
    margin: auto;
  }
  .heading_wrapper {
    width: 90%;
    margin-left: 5%;
  }
  .text_wrapper {
    width: 100%;
  }
  .research_wrapper_black {
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  .research_para_black {
    width: 100%;
    margin-top: 5%;
  }
  .circle_wrapper {
    height: 20vh;
  }
  .american_women {
    height: 20vh;
  }
  .scanner_wrapper {
    width: 70%;
    margin: auto auto;
    flex-direction: column;
  }
  .spinning_wrapper {
    flex-direction: column;
    margin: auto auto;
    width: 80%;
  }
  .Thank_mobile {
    display: block;
    text-align: center;
    align-items: center;
    padding: 40px 0;
    animation: fadeIn 5s;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }
  .spinning_para {
    width: 100%;
    margin-top: 0;
  }
  .Arrow_first {
    display: none;
  }
  .Arrow_second {
    display: none;
  }
  .applicationchart {
    width: 80vw;
    margin-left: 8%;
  }
  .newgrocery {
    width: 80vw;
  }
  .thank_wrapper {
    height: 50vh;
    width: 100%;
  }
  .brand {
    left: 0;
  }
  .text_screen {
    padding: 0%;
    margin: 2% 3%;
  }
  .text_super {
    width: 100%;
  }
  .circle_red {
    bottom: 26%;
  }
  .circle_red_fourth {
    top: 72%;
    width: 15vw;
  }
  .store_container {
    height: 16vh;
  }
  .scanner_wrapper_left {
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  .indian_women {
    height: 16vh;
  }
  .red_indian_women {
    width: 15vw;
    top: 70%;
  }
  .yellow_indian_women {
    width: 15vw;
    bottom: 70%;
  }
}
.b {
  border: 2px solid red;
}
