.main_container {
  background-color: #e3334a;
}
.shopx_wrapper {
  width: 80%;
  margin-left: 10%;
  padding-top: 5rem;
}
.shopx_logo {
  width: 45%;
  height: 40%;
  margin-top: 10%;
  margin-left: 5%;
}
.shopx_text {
  padding-top: 3rem;
  width: 35%;
  margin-left: 5%;
  color: #ffffff;
}
.barcode_wrapper {
  width: 70%;
  height: 40%;
  margin-left: 20%;
  margin-top: 5%;
}
.shopx_barcode {
  max-width: 100%;
  height: 70%;
}
.cards_container {
  background-color: #fff5f6;
}
.heading_wrapper {
  margin-left: 15%;
  width: 100%;
  padding-top: 10rem;
}
.heading_text {
  width: 35%;
  color: #ffffff;
}
.heading_img {
  width: 20%;
  height: 20%;
}
.research_wrapper {
  display: flex;
  width: 60%;
  margin-left: 15%;
  color: #ffffff;
  padding-top: 2rem;
}
.research_para {
  width: 65%;
}
.strategy_wrapper {
  width: 70%;
  height: 40%;
  margin-left: 20%;
  margin-top: 10%;
  padding-bottom: 5%;
}
.reward_wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: 10%;
}
.reward_img_wrapper {
  width: 40%;
  float: left;
  height: 60%;
}
.reward-img {
  width: 100%;
  height: 40%;
  margin-top: 15%;
}
.rewards_right {
  width: 45%;
  height: 30%;
  margin-top: 10%;
  padding-left: 4rem;
}
.rewardsecond_left {
  width: 45%;
  height: 30%;
  margin-top: 10%;
  text-align: right;
  padding-right: 5rem;
}
.rewardSecondimg_wrapper {
  width: 35%;
  height: fit-content;
  margin-bottom: 10%;
}
.expertation_wrapper {
  width: 30%;
  margin-left: 43%;
  padding-top: 10%;
  color: #ffffff;
  margin-bottom: 5rem;
}
.chart_wrapper {
  max-width: 100%;
  margin-top: 10%;
}
.text_wrapper {
  width: 30%;
}
.research_wrapper_black {
  display: flex;
  width: 60%;
  margin-left: 15%;
  padding-top: 2rem;
  margin-top: 2rem;
}
.research_para_black {
  width: 65%;
}
span {
  color: #fdb913;
}
.background_grid {
  background-color: #e3334a;
  width: 90%;
  margin: auto;
  border-radius: 2rem;
}
.grid_wrapper {
  text-align: center;
}
