.main_container {
  background-color: #e3334a;
}
.shopx_wrapper {
  width: 80%;
  margin-left: 10%;
  padding-top: 5rem;
}
.shopx_logo {
  width: 45%;
  height: 40%;
  margin-top: 10%;
  margin-left: 5%;
}
.shopx_text {
  padding-top: 3rem;
  width: 30%;
  margin-left: 5%;
  color: #ffffff;
}
// .background_circle {
//   background-color: #fdb913;
//   border-radius: 10rem;
//   height: 50vh;
//   width: 50vw;
//   justify-content: center;
// }
.barcode_wrapper {
  background-color: #fdb913;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 5%;
}
.shopx_barcode {
  max-width: 100%;
  height: 100%;
}
.cards_container {
  background-color: #fff5f6;
}
.heading_wrapper {
  margin-left: 15%;
  width: 100%;
  padding-top: 10rem;
}
.heading_text {
  width: 30%;
  color: #ffffff;
}
.heading_img {
  width: 20%;
  height: 20%;
}
.research_wrapper {
  display: flex;
  width: 60%;
  margin-left: 15%;
  color: #ffffff;
  padding-top: 2rem;
}
.research_para {
  width: 65%;
}
.strategy_wrapper {
  width: 70%;
  height: 40%;
  margin-left: 20%;
  margin-top: 10%;
  padding-bottom: 5%;
}
.reward_wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: 10%;
}
.reward_img_wrapper {
  width: 40%;
  float: left;
  height: 60%;
}
.reward-img {
  width: 100%;
  height: 40%;
  margin-top: 15%;
}
.rewards_right {
  width: 45%;
  height: 30%;
  margin-top: 10%;
  padding-left: 4rem;
}
.rewardsecond_left {
  width: 45%;
  height: 30%;
  margin-top: 10%;
  text-align: right;
  padding-right: 5rem;
}
.rewardSecondimg_wrapper {
  width: 35%;
  height: fit-content;
  margin-bottom: 10%;
}
.expertation_wrapper {
  width: 30%;
  margin-left: 43%;
  padding-top: 10%;
  color: #ffffff;
  margin-bottom: 5rem;
}
.chart_wrapper {
  max-width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.text_wrapper {
  width: 30%;
}
.research_wrapper_black {
  display: flex;
  width: 60%;
  margin-left: 15%;
  padding-top: 2rem;
  margin-top: 2rem;
}
.research_para_black {
  width: 65%;
}
span {
  color: #fdb913;
}
.background_grid {
  background-color: #e3334a;
  width: 80%;
  margin: auto;
  border-radius: 2rem;
  margin-top: -10%;
}
.grid_wrapper {
  text-align: center;
}
.circle_wrapper {
  background-image: url(C:\Users\Himanshu\Documents\blacksof-site-main\src\assets\shopXappAssets\shopping.png);
  background-size: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 10%;
}
.circle_red {
  position: relative;
  bottom: 14%;
  margin-left: 7%;
}
.circle_yellow {
  position: absolute;
  top: 70%;
  right: 0;
  margin-right: 7%;
}
.para_wrapper {
  text-align: center;
  margin-top: 4rem;
}
.concept_wrapper {
  padding-top: 5rem;
  font-size: 9rem;
}
.concept_img {
  margin-top: -2rem;
  height: 20%;
}
.cong_wrapper {
  display: flex;
  justify-content: center;
  // margin-top: 10%;
}
.concept_first {
  width: 20%;
  margin-top: 10%;
}
.concept_second {
  width: 20%;
  margin-left: 10rem;
  margin-top: 20%;
}
.concept_third {
  width: 22%;
  padding: 3rem;
}
.american_women {
  background-image: url(C:\Users\Himanshu\Documents\blacksof-site-main\src\assets\shopXappAssets\american.png);
  background-size: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 10%;
}
.circle_yellow_second {
  position: relative;
  top: 65%;
  left: 5%;
}
.circle_red_second {
  position: absolute;
  bottom: 85%;
  right: 5%;
}
.scanner_wrapper {
  display: flex;
  margin-top: 10%;
  width: 110%;
  justify-content: center;
  margin-left: 2rem;
}
.concept_fourth {
  margin-left: 4rem;
}
.spinning_wrapper {
  display: flex;
  margin-top: 4rem;
  margin-left: 5rem;
}
.spinning_para {
  width: 35%;
  margin-top: 30%;
  margin-left: 10%;
}
.indian_women {
  background-image: url(C:\Users\Himanshu\Documents\blacksof-site-main\src\assets\shopXappAssets\indianwomen.png);
  background-size: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}
