.page__heading__container {
  width: 80%;
  margin: 0% auto;
  margin-top: 13%;
  // margin-bottom: 15%;
  height: 50vh;
  display: grid;
}

.page__heading {
  display: flex;
  justify-content: space-between;

  h2 {
    padding: 1rem;
  }
}

.sub__heading {
  padding: 1rem;
  width: 55%;

  p {
    width: 80%;
    line-height: 1.4;
  }
}
