.team__image__container{
    width: 100%;
    margin-top: 10%;
    img{
        width: 100%;
        object-fit: contain;
    }
}

.team__member__grid{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: auto auto auto;
}